body {
   margin:0;
   background-color:#393E46;
   color:#333;
}

header {
   background:#58b47b; 
   color:white; 
   text-align:center; 
   padding:1em 0;
}

.title{
   font-size:2vw;
   margin-bottom:-1.1vh;
}

section {
   max-width:700px; 
   display:flex;
   flex-direction:column;
   margin:30px auto; 
   background:white; 
   padding:15px; 
   border-radius:12px; 
   box-shadow:0 2px 8px rgba(0,0,0,0.1);
   text-align:justify;
   font-family:'Comic Sans MS';
   justify-content:center;
}

h2 {
   color:#37925a;
}
button {
   background:#58b47b; 
   color:white; 
   border:none; 
   padding:10px 20px; 
   border-radius:8px; 
   cursor:pointer;
}

button:hover {
   background:#4aa06d;
}

.quiz button {
   margin-top:10px;
}
.result {
   margin-top:10px; 
   font-weight:bold;
}
.hidden {
   display:none;
}
.next {
   margin-top:20px;
}

.top{
   display:flex;
   justify-content:center;
   align-items:center;
   flex-direction:column;
   font-family:"Comic Sans MS";
   color:white;
}

.left{
   overflow:hidden;
   display:flex;
   float:left;
   color:white;
   flex-direction:column;
   background-color:rgba(0,255,255,0.3);
   padding:2vh 2vw 2vh 2vw;
   max-height:100%;
   align-items:center;
}

.left .left-title{
   display:flex;
   justify-content:center;
}

.left-list{
   font-size:1.2vw;
}

.GG-L1{
   justify-content:center;
   color:lightgreen;
   padding-top:1.2vh;
}

.GG-L2{
   color:lightyellow;
   padding-top:1.2vh;
}

.GG-L3{
   color:lightcoral;
   padding-top:1.2vh;
}

.GG-L4{
   color:red;
   padding-top:1.2vh;
}

.GG-L5{
   padding-top:1.2vh;
}