* {
   margin: 0;
   padding: 0;
}

.main-content {
   display:flex;
   justify-content:center;
   align-items:center;
   flex-direction: column;
   margin:5%;
}
/*
   NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR
                                 |
                                 v
*/
.navbar { /*NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR*/
   display: flex;
   flex-direction: column;
   text-align: right;
   justify-content:center;
   left: -16%;
   position: fixed;
   overflow: hidden;
   text-decoration: none;
   padding: 20% 0 100% 0; /* top, left, bottom, right */
   transition: all 0.4s ease-in-out;
   z-index: 5;
   background-color: black;
   color:white;
   left: -4;
   width:20%;
}
.navbar:hover {
   transform:translate(60%, 0);
}
.navbut {
   padding: 14px 80px;
   color:white;
}
.navbut a{
   text-decoration: none;
   color: white;
}

.navbut:active{
   color:white;
   text-decoration:none;
}

.navbar-title{
   display:flex;
   flex-direction:column;
}

.first-course, .second-course{
   position: relative;
}

.course-image{
   height:200%;
   width:100%;
   object-fit:cover;
}

.course-title {
   position:absolute;
   padding: 10px;
   bottom: 0;
   left: 0;
   box-sizing: border-box;
   color: #fff;
   margin: 0;
   width:100%;
   text-shadow: 2px 2px 4px #333;
   z-index:1;
}